<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Leaning</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <div>
      <a href="/">Home Page</a>
      <a href="/dashboard">Postboard</a>
      {{#if loggedIn}}
      <button id="logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
    <header>
      {{#if idDashboard}}
      <h1>Post board</h1>
      {{else}}
      <h1>The Tech Blog Page</h1>
      {{/if}}
    </header>
  </nav>
  <main>
    <section class="blog">
      {{{body}}}
    </section>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>