<div class="form-wrapper card">
    <header>
        {{#if isCreate}}
            <h2>Create New Post</h2>
        {{else}}
            <h2>Edit Post</h2>
        {{/if}}
    </header>
    <div>
        <form class="form">
            <div>
                <div>Title</div>
                <input type="text" id="blog-title" value="{{#unless isCreate}}{{title}}{{/unless}}">
            </div>
            <div>
                <div>Content</div>
                <textarea id="blog-content">{{#unless isCreate}}{{content}}{{/unless}}</textarea>
            </div>
           <div>
    {{#if isCreate}}
        <button id="create-blog">Create</button>
    {{else}}
        <button id="update-blog">Update Post</button>
        <button type="button" id="delete-blog">Delete</button>
    {{/if}}
</div>

        </form>
    </div>
</div>

<script src="/js/blog.js"></script>
